<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>MentalHealth Care</title>
</head>
<style>
  @charset "UTF-8";
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700");
  @import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i");
  @import url("https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700");

  .blockquote {
    font-size: 1.25rem;
    border: 1px solid rgba(222, 226, 230, 0.54);
    border-left: 0.5rem solid rgba(0, 123, 255, 0.54);
    color: #6c757d;
    font-family: "Open Sans", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: italic;
    line-height: 1.6;
    margin: 1.875rem auto;
    max-width: 60%;
    padding: 4.6875rem 1.875rem 1.875rem 4.6875rem;
    position: relative;
    width: 100%;
  }

  .blockquote:before {
    font-size: 6.875rem;
    color: rgba(0, 123, 255, 0.54);
    /* content: "“"; */
    font-family: "Noto Serif", "Georgia", "Times New Roman", "Times", serif;
    font-size: 5.5rem;
    height: 3.75rem;
    left: 0.9375rem;
    line-height: 1;
    max-width: 3.75rem;
    position: absolute;
    text-align: inherit;
    top: 0.9375rem;
    width: 100%;
  }

  /* .blockquote:after {
    content: "";
  } */

  .blockquote-footer {
    font-size: 80%;
    color: #343a40;
    display: block;
    font-style: normal;
    font-weight: 700;
    margin-top: 1rem;
    padding: 0;
  }

  /* .blockquote-footer:before {
    content: "— ";
  } */
</style>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- PAGE TITLE -->
        <h3 class="page__title my-3 text-center">
          <i>Why Do You Need A Psychologist &shy;</i>
        </h3>

        <!-- BLOCKQUOTE -->
        <blockquote class="blockquote">
          <p class="mb-0">
          
          <p>Psychologists, more commonly known as therapists or counselors, are mental health professionals that specialize in human behavior. They are highly experienced in helping people to improve negative symptoms associated with mental health. They primarily use a technique called, psychotherapy, or talk therapy, to learn more about their patients, explore hard topics, and eventually encourage personal growth. There are many benefits of seeing a psychologist, here are some of the top benefits:</p>
          <p><strong>1. Allows You to Explore Ideas in a Safe Space</strong></p>
          <p>Psychotherapy gives you an appropriate place to explore problem areas in your life. Everything you say is confidential, so you can express things honestly without the worry of offending or hurting someone. Therapy also allows you a safe space to process your emotions about a particular person or situation. Depending on your situation, a psychologist may ask you about the past or present trauma, the death of a loved one, medical illness, difficulties with everyday life, or about your mental disorder.</p>
          
          <p><strong>2. Provides a New Perspective</strong></p>
          <p>Often times when something is bothering us, we tend to see things from one side only. Especially in situations where we feel we have been wronged or in cases where depression and anxiety distort things, it may be hard for us to process the reality of the situation. Seeing a therapist provides you with a fresh, unbiased evaluation of the situation. Because they are new to the situation, they are often able to identify things that you missed. Depending on the situation, this can help you process things and move forward.</p>
          
          <p><strong>3. Identify and Eliminate Bad Habits</strong></p>
          <p>Everyone has bad habits. While therapy cannot completely eliminate these habits, it can help you to recognize them. Once you recognize them, you can work on determining the trigger for the behavior, and try to reduce its effect on you. This will help reduce the frequency of practicing bad habits. At the very least, you may be able to identify when you need to take a step back from something or need to ask for help.</p>
          
          <p><strong>4. Help With the Future</strong></p>
          <p>Working on yourself in the present will inevitably benefit your future. Therapy can help you with future events by helping to mentally prepare for them. This is especially helpful if the event is expected to be excessively stressful or emotional. Discussing the event ahead of time allows you and your therapist to come up with a plan and appropriate exit strategies if needed.</p>            
            
          <p><strong>5. Changes in the Brain</strong></p>
            <p>Psychotherapy can actually change the way you think and the way your brain works. According to the American Psychiatric Association, changes in the brain are noticeable after people undergo psychotherapy, especially in those with depression, panic disorder, PTSD, and other mental disorders. Research has found that most of these changes are about the same as in people who take medication to manage their mental health. </p>
            <br>
            <p>As you can see, psychology is highly beneficial for people looking to improve their mental health. Psychologists use psychotherapy to explore ideas and emotions in a safe space, provide new perspectives, identify and eliminate bad habits, help with the future, and change the brain. All these benefits can improve not only your mental health but your overall quality of life.</p>

            <p>Mental health is often unseen, so it’s often unthought of, or not taken as seriously as a health issue that’s physical, such as a broken arm. When your mental health begins to feel a little uneasy, it could be a good sign to see a psychologist. Despite the stigma attached to seeing a psychologist, there are plenty of benefits of seeing one too.</p>

            <p>Some people think it’s unnecessary to see a psychologist because they have friends and family who listen to their problems and offer advice. This is really important to have, but they’re not the only people who you can trust that can offer advice. Your friends may have unlimited advice, but they also have a bias on the situation. Psychologists offer an unbiased opinion, as they see the issue from an outside perspective. This can be confronting, because they won’t offer sugar coated advice, they’ll offer the truth, which can hurt at times.</p>

            <p>An issue heaps of people feel is that they’re the only ones who are feeling a certain way. When you see a psychologist, you can come to realise that this isn’t the case. Most of the time, the way you’re feeling, whether it be about your future; your sexuality; whatever, has been felt by someone else. This is can take a huge weight off your shoulders, as well as give you a new perspective on how to handle a situation. If they can get through it, you can too. Dr Lillian Nejad from OmniPsych explains further. “Just like for a physical health problem, early intervention for a mental health problem can prevent more severe difficulties in the future. Many people experience anxiety or depression or other issues at some point in their life; it’s not a sign of weakness, it’s part of being human in this complex and ever-changing world.</p>

            <p>Depending on the severity of the depression, treatment can take a few weeks or much longer. In many cases, significant improvement can be made in 10 to 15 sessions.</p>

            <p>Seeing a psychologist can literally rewire your brain. CBT (Cognitive Brain Therapy) targets patients with depression, anxiety and schizophrenia, teaching them new ways to think, new ways to respond to situations, which ultimately, rewires their brain. How cool is that?</p>

            <p>Educational and developmental psychologist, Stephanie Lau offers her reason why you should see a psychologist. “The opportunity to see a psychologist or mental health professional is a constructive and empowering way to tackle challenges and adopt a solution-focused approach to managing our mental and emotional health. Seeing a professional allows us to discuss our concerns in a confidential capacity, problem-solve and learn more about our vulnerabilities that make us susceptible to ill emotional health. By doing so, we can prevent burnout, chronic health conditions and the array of other negative symptoms that come with ill mental health and well-being. Good mental health = positive physical, emotional and social well being.</p>

            <p>Mental health may not be taken as seriously as physical health, but often the two go hand in hand. We’re not just talking your fitness level, we’re talking your sleeping habits, heart health and other organs. Sometimes issues can arise from a lack of sleep, which can actually affect way more than you realise. Whether you’re finding it hard to fall asleep, or you wake up with tension (in which case, you should probably get yourself a new pillow), seeing a psychologist can help you explain your feelings, and how you can work your way around them. Psychologists can help you reduce your drinking habits, change your eating habits and can treat illnesses such as insomnia.</p>

            <p>If you often find yourself freaking out over issues that seem like a big deal, seeing a psychologist may just put your problems in perspective. What seems like the end of the world may just be a small hiccup, or could even work to your advantage. Seeing a professional can help give you a healthy dose of reality, which can transform the way you see problems in the future.</p>

            <p>Seeing a psychologist doesn’t mean you’re “crazy” or “abnormal”, it means you take your mental health seriously. Everyone can benefit from seeing a psychologist, even if it’s just once a year.</p>
          <!-- <footer class="blockquote-footer">
            Steve Jobs <cite title="Source Title">Source Title</cite>
          </footer> -->
        </blockquote>
      </div>
    </div>
  </div>


  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>