<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>MentalHealth Care</title>
</head>
<style>
  @charset "UTF-8";
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700");
  @import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i");
  @import url("https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700");

  .blockquote {
    font-size: 1.25rem;
    border: 1px solid rgba(222, 226, 230, 0.54);
    border-left: 0.5rem solid rgba(0, 123, 255, 0.54);
    color: #6c757d;
    font-family: "Open Sans", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: italic;
    line-height: 1.6;
    margin: 1.875rem auto;
    max-width: 60%;
    padding: 4.6875rem 1.875rem 1.875rem 4.6875rem;
    position: relative;
    width: 100%;
  }

  .blockquote:before {
    font-size: 6.875rem;
    color: rgba(0, 123, 255, 0.54);
    /* content: "“"; */
    font-family: "Noto Serif", "Georgia", "Times New Roman", "Times", serif;
    font-size: 5.5rem;
    height: 3.75rem;
    left: 0.9375rem;
    line-height: 1;
    max-width: 3.75rem;
    position: absolute;
    text-align: inherit;
    top: 0.9375rem;
    width: 100%;
  }

  /* .blockquote:after {
    content: "";
  } */

  .blockquote-footer {
    font-size: 80%;
    color: #343a40;
    display: block;
    font-style: normal;
    font-weight: 700;
    margin-top: 1rem;
    padding: 0;
  }

  /* .blockquote-footer:before {
    content: "— ";
  } */
</style>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- PAGE TITLE -->
        <h3 class="page__title my-3 text-center">
          <i>Things That Kill You Slowly &shy;</i>
        </h3>

        <!-- BLOCKQUOTE -->
        <blockquote class="blockquote">
          <p class="mb-0">
          <p><strong>What can kill you?</strong></p>
          <p>One thing that can kill you from the inside or might push you to death is depression. </p>
          <p>Everyone has good and bad days. But some people have more bad days than good. </p>

          <p>Depression is an extremely serious mental health condition that can become deadly if it isn’t treated. </p>

          <p>In many people, untreated depression can lead to suicidal thoughts or attempts. </p>

          <p>Suicide is the tenth leading cause of death in the United States. 
            That’s 44,965 people who die by taking their lives, every year. 
            And for every one of them, 25 more people make an unsuccessful suicide attempt — which can result in further deterioration of a person’s mental and physical health. </p>

          <p>If you experience a period of two weeks or longer where you feel sad or lose interest in activities you used to enjoy, and you have trouble functioning in your daily life, you may be experiencing depression. </p>

          <p>It’s estimated that 16.2 millionTrusted Source American adults have experienced at least one serious episode of depression at some point in their lives. </p>
          <p><strong> Health effects of untreated depression </strong></p>
          <p>When a person is depressed, they can experience a lot of different physical and mental symptoms. These can lead to other issues that can affect your health, including the following. </p>

          <p><strong>Sleeping problems</strong></p>
          <p>This can include: </p>
          <ul>
            <li>inability to fall and stay asleep (insomnia)</li>
            <li>disturbed sleep that causes you to wake up</li>
            <li>often during the night</li>
            <li>sleeping too much</li>
          </ul>
          <p>You may not sleep soundly and may experience frequent nightmares that can leave you feeling scared, stressed, or upset when you wake up.</p>
          <p>This can affect your energy levels as well as your performance at work or school.</p>
          <p><strong>Feeling very tired or lacking energy</strong></p>
          <p>You might feel like even the smallest daily tasks (like brushing your teeth or pouring a bowl of cereal for breakfast) take extra energy.</p>
          <p>You might even feel very tired after getting a full night’s sleep.</p>
          <p>This can make it difficult for you to take care of yourself, putting you at risk for other health conditions.</p>
          <p><strong>Eating issues</strong></p>
          <p>You might experience a decreased appetite that leads to weight loss. Or you might feel an increase in cravings for certain foods, especially comfort foods to ease your sadness. This may cause you to overeat, leading to weight gain.

          <p><strong>Unexplainable physical problems</strong></p>
          <p>You might experience physical symptoms that can’t be explained. These may include:</p>
            <ul>
              <li>pain</li>
              <li>headaches</li>
              <li>heart palpitations</li>
              <li>rapid heart rate</li>
              <li>chest pains</li>
              <li>lightheadedness</li>
              <li>muscle tension</li>
              <li>loss of sexual desire</li>
              <li>colds</li>
              <li>flu</li>
              <li>upset stomach</li>
              <li>nausea</li>
              <li>digestive problems</li>
            </ul>
          <p><strong> Drug and alcohol issues</strong></p>
          <p>Some people who have depression experiment with drugs and alcohol in an attempt to self-medicate and manage their symptoms. This can put you at risk for developing an addiction.

          <p><strong>Suicide attempts</strong></p>
          <p>This is very serious, and you should reach out for help by calling a friend, family member, or the get help

          <p><strong>How can you treat depression?</strong></p>
          <p>If you’re experiencing any signs of depression, it’s important that you see your doctor right away to receive treatment.

          <p>Depression can make you feel like it’s not worth investing in yourself for treatment. But it’s important to remember that the faster you start treatment, the sooner you’ll be able to manage your symptoms.

          <p>Treatments can reduce the mental and physical issues associated with depression as well as your risk of death.

          <p>Your doctor may recommend that you see a mental healthcare provider such as a psychologist or psychiatrist in order to receive treatment.

          <p>The following are some of the common treatments for depression.

          <p><strong>Psychotherapy</strong></p>
          <p>Psychotherapy (talk therapy) is a long-term approach to depression treatment. It involves talking about your depression and related health issues with a professional.

          <p>There are several approaches to psychotherapy, including cognitive behavioral therapy and interpersonal therapy.

          <p>Therapy is usually done face-to-face in an office with a psychologist or psychiatrist. And, these days, you can also receive therapy online or over the phone.

          <p>Your mental healthcare provider will help you determine which therapy technique and format is best for you.

          <p>The goals of psychotherapy include:
            <ul>
              <li>creating tools to adjust to crisis situations or
                adversity in a healthy way</li>
              <li>discovering how you’re thinking or behaving
                negatively and replacing them with healthier, positive ways of thinking and
                behaving</li>
              <li>looking more positively at your relationships
                and life experiences</li>
              <li>finding healthier ways to deal with and solve
                problems in your life</li>
              <li>determining what things in your life contribute
                to your depression and changing those things to reduce your depression</li>
              <li>helping you to feel more satisfaction in — and to
                gain control of — your life</li>
              <li>learning how to set more realistic life goals</li>
              <li>learning how to accept sadness and distress in
                your life in a healthier way</li>
              <li>reducing your mental and physical depression symptoms</li>
            </ul>
            <p><strong>Medication</strong></p>

            <p>In some cases, therapy isn’t enough to help a person cope with their depression. In these situations, a mental healthcare provider might recommend medication.

            <p>The overall goal of using medication is to ease depression symptoms so that a person can be more receptive to the benefits of therapy.

            <p>Some common depression medications include:
              <ul>
                <li>selective
                  serotonin reuptake inhibitors (SSRIs)</li>
                <li>serotonin-norepinephrine
                  reuptake inhibitors (SNRIs)</li>
                <li>tricyclic
                  antidepressants (TCAs)</li>
                <li>monoamine
                  oxidase inhibitors (MAOIs)</li>
                <li>other medications such as mood stabilizers or
                  antipsychotics</li>
              </ul>
              <p><strong>Hospitalization</strong></p>
              <p>In-patient mental programs at hospitals can be a useful treatment for those experiencing debilitating depression or those who have thought about or attempted suicide.</p>
              <p><strong>Depression is manageable</strong></p>
              <p>Depression is a chronic condition that requires treatment in order to be managed. Your depression may never fully go away, but sticking to your treatment plan can give you the tools you need to live a fulfilling and happy life.

              <p>Making healthy life choices, such as avoiding alcohol and recreational drugs, eating healthfully, and exercising can also help you feel your best and avoid the symptoms of depression.

              <p>Don’t be afraid to ask for help if you need it. Getting help can make all the difference.
              <p><strong>Suicide prevention</strong></p>
              <p>If you think someone is at immediate risk of self-harm or hurting another person:</p>
                <ul>
                  <li>Call 911 or your local emergency number.</li>
                  <li>Stay with the person until help arrives.</li>
                  <li>Remove any guns, knives, medications, or other things that may cause harm.</li>
                  <li>Listen, but don’t judge, argue, threaten, or yell.</li>
                  <li>If you or someone you know is considering suicide, get help from a crisis or suicide prevention hotline. </li>
                </ul>

          <!-- <footer class="blockquote-footer">
            Steve Jobs <cite title="Source Title">Source Title</cite>
          </footer> -->
        </blockquote>
      </div>
    </div>
  </div>


  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html> 