<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>MentalHealth Care</title>
</head>
<style>
    @charset "UTF-8";
    @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700");
    @import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i");
    @import url("https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700");

    .blockquote {
        font-size: 1.25rem;
        border: 1px solid rgba(222, 226, 230, 0.54);
        border-left: 0.5rem solid rgba(0, 123, 255, 0.54);
        color: #6c757d;
        font-family: "Open Sans", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-style: italic;
        line-height: 1.6;
        margin: 1.875rem auto;
        max-width: 60%;
        padding: 4.6875rem 1.875rem 1.875rem 4.6875rem;
        position: relative;
        width: 100%;
    }

    .blockquote:before {
        font-size: 6.875rem;
        color: rgba(0, 123, 255, 0.54);
        /* content: "“"; */
        font-family: "Noto Serif", "Georgia", "Times New Roman", "Times", serif;
        font-size: 5.5rem;
        height: 3.75rem;
        left: 0.9375rem;
        line-height: 1;
        max-width: 3.75rem;
        position: absolute;
        text-align: inherit;
        top: 0.9375rem;
        width: 100%;
    }

    /* .blockquote:after {
    content: "";
  } */

    .blockquote-footer {
        font-size: 80%;
        color: #343a40;
        display: block;
        font-style: normal;
        font-weight: 700;
        margin-top: 1rem;
        padding: 0;
    }

    /* .blockquote-footer:before {
    content: "— ";
  } */
</style>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- PAGE TITLE -->
                <h3 class="page__title my-3 text-center">
                    <i> Panic Attacks Are Just How You React to Stress </i>
                </h3>

                <!-- BLOCKQUOTE -->
                <blockquote class="blockquote">
                    <p class="mb-0">
                    <p><strong>What Is Panic Attack?</strong></p>
                    <p>Panic attacks involve sudden feelings of terror that strike without warning.
                        These episodes can occur at any time, even during sleep.
                        People experiencing a panic attack may believe they are dying or going crazy.
                        The fear and terror that a person experiences during a panic attack are not in proportion to the
                        true situation and may be unrelated to what is happening around them.
                        Most people having a panic attack have had one before, triggered by a similar event or
                        situation.</p>
                    <p><strong>What Are The Symptoms Of Panic Attack?</strong></p>
                    <p>If you suddenly have four or more of these symptoms, you may be having a panic attack:
                    <ul>
                        <li>Sudden high <a data-crosslink-type="article"
                                href="https://www.webmd.com/anxiety-panic/default.htm" data-metrics-link="">anxiety</a>
                            with or without a cause</li>
                        <li>A "racing" heart </li>
                        <li>Feeling weak, faint, or dizzy</li>
                        <li>Shaking</li>
                        <li>Tingling or numbness in the hands and fingers</li>
                        <li>Sense of terror, or impending doom or death</li>
                        <li>Feeling sweaty or having chills</li>
                        <li>Nausea</li>
                        <li>Chest pain or discomfort</li>
                        <li>Breathing difficulties, including a "smothering" sensation or shortness of breath</li>
                        <li>A feeling of choking</li>
                        <li>Feeling a loss of control</li>
                        <li>A sense of unreality</li>
                        <li>A fear of going crazy or losing control</li>
                        <li>A fear of dying</li>
                    </ul>
                    </p>
                    <p><strong>How Long Do Panic Attacks Last?</strong></p>
                    <p>Panic attacks are generally brief, lasting less than 10 minutes, although some of the symptoms
                        may last longer.
                        An isolated panic attack, while extremely unpleasant, is not uncommon or life-threatening.</p>

                    <p>Panic attacks can be a symptom of other anxiety disorders, and people who’ve had one panic attack
                        are at greater risk for another compared to those who’ve never had one.
                        Panic attacks and panic disorder are not the same thing. When the attacks happen repeatedly and
                        you worry about having more episodes, you may have panic disorder.</p>

                    <p><strong>Risk Factors Of Panic Attack</strong></p>
                    <p>People with panic disorder may be extremely anxious and fearful, since they are unable to predict
                        when the next episode will occur.
                        Panic disorder is fairly common and affects about 6 million adults in the U.S.
                        Women are twice as likely as men to develop the condition, and its symptoms usually begin in
                        early adulthood.</p>

                    <p>It is not clear what causes panic disorder.
                        In many people who have the biological vulnerability to panic attacks, they may develop in
                        association with major life changes (such as getting married, having a child, starting a first
                        job, etc.) and major lifestyle stressors.
                        There is also some evidence that suggests that the tendency to develop panic disorder may run in
                        families.
                        People who suffer from panic disorder are also more likely than others to suffer from
                        depression, attempt suicide, or to abuse alcohol or drugs.</p>

                    <p><strong>How Is Panic Attack Treated?</strong></p>
                    <p>Fortunately, panic disorder is a treatable condition. Psychotherapy and medications have both been used, either singly or in combination, for successful treatment of panic disorder. 
                        If medication is necessary, your doctor may prescribe anti-anxiety medications, certain antidepressants or sometimes certain anticonvulsant drugs that also have anti-anxiety properties, or a class of heart medications known as beta-blockers to help prevent or control the episodes in panic disorder.
                        As the cause of most panic attacks is not clear, so treatment may be different for each person.</p>
                    <p>Before a diagnosis or treatment, a health professional should conduct a thorough diagnostic
                        evaluation, including an interview and a physical examination.
                        In some cases, a blood test might be done to make sure the depression is not due to a medical
                        condition like a thyroid problem or a vitamin deficiency (reversing the medical cause would
                        alleviate the depression-like symptoms).
                        The evaluation will identify specific symptoms and explore medical and family histories as well
                        as cultural and environmental factors with the goal of arriving at a diagnosis and planning a
                        course of action.
                    </p>
                    <p><strong>Self-help suggestions</strong></p>
                    <p>
                        <ul>
                            <li>Avoid ‘self-talk’ that focuses your attention on your symptoms – don’t tell yourself ‘Stop panicking!’ or ‘Relax!’</li> 
                            <li>Remind yourself that the symptoms of a panic attack are uncomfortable, but not life threatening. Reassure yourself that you’ve felt these feelings before and nothing bad happened to you.&nbsp;</li> 
                            <li>Focus your attention on something outside your own body and symptoms. For example, distract yourself by counting backwards in threes from 100, recall the words from a favourite song or concentrate on the sights and sounds around you.&nbsp;</li> 
                            <li>Fleeing from the situation will only reinforce the perception that your panic attacks are unbearable. If you sit and allow the symptoms to pass, you gain confidence in your ability to cope.&nbsp;</li>
                        </ul>
                    </p>

                    <p><strong>Medical treatment</strong></p>
                    <p>
                        <ul>
                            <li>Medications</li> 
                            <li>Psychotherapy, including cognitive behaviour therapy</li> 
                            <li>Biofeedback therapy</li> 
                            <li>Stress management techniques</li> 
                            <li>Proper breathing techniques</li> 
                            <li>Relaxation techniques</li> 
                            <li>Learning problem-solving skills</li> 
                            <li>Lifestyle adjustments, such as attention to diet, exercise and sleep.</li>
                        </ul>
                    </p>

                    <p><strong>Self-help and Coping</strong></p>
                    <p>Panic attacks can be frightening, but there are things you can do to help yourself cope. 
                        It could help to print off these tips, or write them down, and keep them somewhere easy to find.</p>
                    <p>During a panic attack:</p>
                    <p>
                        <ul>
                        <li>Focus on your breathing. It can help to concentrate on breathing slowly in and out while counting to five.</li> 
                        <li>Stamp on the spot. Some people find this helps control their breathing.</li> 
                        <li>Focus on your senses. For example, taste mint-flavoured sweets or gum, or touch or cuddle something soft.</li> 
                        <li>Try grounding techniques. Grounding techniques can help you feel more in control. They're especially useful if you experience dissociation during panic attacks.</li> 
                    </p>   
                    <p>After a panic attack:</p>
                        <ul>
                            <li>Think about self-care. It's important to pay attention to what your body needs after you've had a panic attack. For example, you might need to rest somewhere quietly, or eat or drink something.</li> 
                            <li>Tell someone you trust. If you feel able to, it could help to let someone know you've had a panic attack. It could be particularly helpful to mention how they might notice if you're having another one, and how you'd like them to help you.</li> 
                        </ul>
                    </p>
                    
                    <!-- <footer class="blockquote-footer">
                        Steve Jobs <cite title="Source Title">Source Title</cite>
                    </footer> -->
                </blockquote>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>