<!DOCTYPE html>
<html>

<head>
  <title>Page Title</title>
</head>
<style>
body {
  background: linear-gradient(90deg, #c0c0c7, #057a8d);
  font-family: sans-serif;
  font-size: 10px;
}


*[role="form"] {
  background: #fff;
  padding: 4em 4em 2em;
  max-width: 600px;
  margin: 50px auto 0;
  margin-bottom: 3%;
  box-shadow: 0px 0px 24px #5C5696;
  border-radius: 8px;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}

</style>
<body>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
            <form class="form-horizontal" role="form" method="POST">
                {% csrf_token%}
                <h2>Doctor's Register Form</h2>
                {% if messages %}
                {% for result in messages %}
                {% if result.tags == "error" %}
                <div class="alert alert-danger">
                    {{ result }}
                </div>
                {% else %}
                <div class="alert alert-success">
                    {{ result }}
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                <div class="form-group">
                    <label for="Title" class="col-sm-3 control-label">Title</label>
                    <div class="col-sm-9">
                        <select id="title" name="title" class="form-control">
                            <option>Dr.</option>
                            <option>prof. Dr.</option>
                            <option>Assoc. prof. Dr.</option>
                            <option>Asst. Prof. Dr.</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Name" class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="name" name="name" placeholder="Full Name"  class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
                    <div class="col-sm-9">
                        <input type="date" id="birth" name="birth" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Gender</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" id="femaleRadio" name="gender" value="Female">Female
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" id="maleRadio" name="gender" value="Male">Male
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" id="uncknownRadio" name="gender" value="Unknown">Unknown
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Age" class="col-sm-3 control-label">Age</label>
                    <div class="col-sm-9">
                        <input type="number" id="age" name="age" placeholder="Age" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Nid" class="col-sm-3 control-label">Nid</label>
                    <div class="col-sm-9">
                        <input type="number" id="nid" name="nid" placeholder="Nid Number" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address" class="col-sm-3 control-label">Address</label>
                    <div class="col-sm-9">
                        <input id="address" name="address" placeholder="Address" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Mobile" class="col-sm-3 control-label">Mobile No.</label>
                    <div class="col-sm-9">
                        <input type="number" id="mobile" name="mobile" placeholder="Mobile Number" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" id="email" name="email"  placeholder="Email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" name="password" placeholder="Password" class="form-control">
                    </div>
                </div> 
                <!-- <div class="form-group">
                    <label class="control-label col-sm-3">Meal Preference</label>
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="calorieCheckbox" value="Low calorie">Low calorie
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="saltCheckbox" value="Low salt">Low salt
                            </label>
                        </div>
                    </div>
                </div> <!-- /.form-group -->
                <!-- <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">I accept <a href="#">terms</a>
                            </label>
                        </div>
                    </div>
                </div> /.form-group --> 
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                </div>
            </form> <!-- /form -->
        </div> <!-- ./container -->
</body>
</html>